body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #eeebeb;
}
#firstImg{
    height: 600px;
}
.mainField{
    margin-left: 30px;
}
.cont{
    background-color: white;
    height: 600px;
}
.pad{
    padding: 100px;
}

 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

 .logg{
     height: fit-content;
     width: fit-content;
     background-color: #4981d2;
     padding: 8px;
     color: white;
     border-radius: 10px;
     margin-top: -20px;
 }

.logg:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4)
}
.dogg{
    height: fit-content;
    width: fit-content;
    background-color: #cc8925;
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin-top: -20px;
}

.dogg:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4)
}

.deg {
    position: relative;
    text-decoration: none;
    color: #000;
}

.deg:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    margin-left: 0px;
    height: 5px;
    background-color: #268a1f;
    transition: width 0.3s ease-in-out;
}

.deg:hover:before {
    width: 100%;
}
.sttext{
    font: 14px 'MutatorSans', sans-serif;
    font-weight: 500;
}
.container {
    display: flex;
}

.left-column{
    width: 25%;
    background-color: #f0f0f0;
}
.right-column {
    width: 25%;
    background-color: #f0f0f0;
    border: black 2px solid;
}

.center-column {
    flex-grow: 1;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

.top-row,
.bottom-row {
    flex-grow: 1;
    padding: 20px;
}

.top-row {
    background-color: #d0d0d0;
}

.bottom-row {
    background-color: #efebeb;
}
.fixi:hover{
    font-size: 20px;
}
.eddd:hover{
    font-size: 25px;
}
.ddd{
    border: none;
}
.ddd:hover{
    font-size: 25px;
}
.adPo:hover{
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4)

}

.profile-icon {
    position: relative;
}

.greeting {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: -8px;
}

.profile-details {
    position: relative;
}

.profile-icon {
    font-size: 30px;
    cursor: pointer;
}

.options {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1;
}

.profile-icon:hover + .options,
.options:hover {
    display: block;
}

.logout-link,
.profile-link {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

.logout-link:hover,
.profile-link:hover {
    padding: 2px;
    border-radius: 5px;
    background-color: #000;
    color: #eee;
}
.job_container{
    padding: 20px;
    margin-top: 125px;
    width: 60%;
    position: relative;
    margin-left: 100px;
}
.job_container input{
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}
.job_container textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
}
.contai{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: -100px;
}
.job_container p{
    font-weight: bold;
}
.job_container button{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.job_container button:hover{
    background-color: yellowgreen;
    color: blue;
}
.job_container select{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid black;
}
.job_container .type{
    width: 250px;
}
.profile{
    background-color: red;
    padding: 20px;
    position: relative;
    margin: 200px;
    border-radius: 20px;
    color: white;
}
.double{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 15px;
}

.double input{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.double label{
    margin-left: 0px;
    margin-top: 10px;
}
.pagi{
    position: relative;
    margin-left: 600px;
    margin-top: 20px;
}
.btn{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btn .sel{
    position: relative;
    margin-left: 200px;
}
.btn .del{
    position: relative;
}
/*.btn .sel{*/
/*    margin-left: -100px;*/
/*}*/

.btn input{
    margin-left: 50px;
}
.btn button{
    margin-left: 0px;
}
.disgo{
    margin-right: 100px;
}
.links{
    position: relative;
    height: 20px;
    width: 100%;
}

.links a{
    padding: 100px;
    margin-top: 20px;
}
.de{
    color: red;
}
bodys{
    margin-top: 150px;
    position: relative;
    width: 100%;
    padding: 20px;
    height: fit-content;
    justify-content: space-evenly;
}
.img{
    /*background-image: url("../images/back.jpg");*/
    width: 200px;
    height: 200px;
    width: 100%;
    padding: 20px;
    display: flex;
}
.imgs{
    /*background-image: url("../images/back.jpg");*/
    width: 200px;
    height: 200px;
    background-color: blue;
}
.profil{
    margin-left: 30px;
}
.detail{
    margin: 30px;
    border: 1px solid black;
    padding: 20px;
    height: fit-content;
}
.detail p{
    margin-top: 5px;
}
.update{
    padding: 20px;
    margin: 30px;
    background-color: green;
    border-radius: 10px;
    color: white;
}
.update:hover{
    background-color: deepskyblue;
    color: black;
}
.skill{
    display: flex;
    justify-content: space-between;
}
*{
    margin: 0px;
}
.container{
    background-color:white;

}
.header{
    display: flex;
    background-color: rgba(25,49,239,0.5);
    width:95%;
    padding: 40px;
    position: absolute;
    /*opacity: 0.5;*/
}
.logo{
    width: 30%;
    color: white;
}

.nave{
    width: 70%;
}
.nave ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.nave ul li{
}
.nave ul li a{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;

}
.header .nave ul li a:hover{
    background-color: white;
    color: black;
}
.nave ul li a{
    color: white;
}
.image{
    background-image: url("../images/back.jpg");
    width: 100%;
    height:900px;
    background-repeat: no-repeat;
    margin-left: -100px;
    margin-top: -30px;
}
.body{
    display: flex;
}
.text{
    position: absolute;
    margin-left: 750px;
    padding: 10px;
    margin-top: 250px;
}
.text h1{
    font-size: 50px;
    color: red;
}

.button{
    margin-top: 60px;
    margin-left: 60px;
}
.button a{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: blue;
    font-size: 20px;
    color: white;
}

.button a:hover{
    background-color: greenyellow;
    color: black;
}
.side{
    margin-left: 20px;
}
.foot{
    padding: 40px;
    background-color: #2d3748;
    width: 95%;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 240px;
    bottom: 0%;
}
.log{
    position: relative;
    width: 350px;
    height: fit-content;
    background-color: white;
    padding: 30px;
    margin-left: 200px;
    box-shadow: 3px 3px 3px 3px wheat;
}
.log p{
    padding: 15px;
}
.log a{
    padding: 15px;
}
.log input{
    width: 90%;
    margin: 10px;
    padding: 15px;
    border-top: none;
    border-left: none;
    border-bottom-color: black;
    border-radius: 5px;
}
.log h2{
    margin-left: 130px;
    font-size: 30px;
    color: blue;
}
.logs{
    position: relative;
    width: 350px;
    height: fit-content;
    background-color: white;
    padding: 30px;
    margin-left: 200px;
    margin-top: -80px;

    box-shadow: 3px 3px 3px 3px wheat;
}
.logs p{
    padding: 15px;
}
.logs a{
    padding: 15px;
}
.logs input{
    width: 90%;
    margin: 10px;
    padding: 15px;
    border-top: none;
    border-left: none;
    border-bottom-color: black;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
.goo{
    margin-left: 150px;
}
.tex{
    margin-left: 100px;
}
.logs h2{
    margin-left: 130px;
    font-size: 30px;
    color: blue;
}
.logs select{
    width: 100%;
    padding: 10px;
    background-color: floralwhite;
    border: none;
}
.bodys{
    width: 100%;
    padding: 20px;
    height: fit-content;
    justify-content: space-evenly;
}
.img{
    /*background-image: url("../images/back.jpg");*/
    width: 200px;
    height: 200px;
    width: 100%;
    padding: 20px;
    display: flex;
}
.imgs{
    /*background-image: url("../images/back.jpg");*/
    width: 200px;
    height: 200px;
    background-color: blue;
}
.profil{
    margin-left: 30px;
}
.detail{
    margin: 30px;
    border: 1px solid black;
    padding: 20px;
    height: fit-content;
}
.detail p{
    margin-top: 5px;
}
.update{
    padding: 20px;
    margin: 30px;
    background-color: green;
    border-radius: 10px;
    color: white;
}
.update:hover{
    background-color: deepskyblue;
    color: black;
}
.skill{
    display: flex;
    justify-content: space-between;
}
.status{
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    position: absolute;
    margin-top: -40px;
    right: 20%;
}

.sec{
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 105px;
}
.backdesign{
    width: 100%;
    height: 100px;
    background-color: skyblue;
    align-content: center;
}
.filter{
    width: 15%;
    height: fit-content;
    padding: 20px;
    background-color: wheat;
    margin: 10px;
}
.secbody{
    display: flex;
}

.job{
    width: 100%;
    margin: 10px;
    background-color: white;
}

.filter select{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: wheat;
    margin-top: 30px;
}
.filter input{
    background-color: greenyellow;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;

}
.backdesign h4{
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.item{
    background-color: white;
    margin-top: 20px;
    width: 96%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px navajowhite;
}
.pho{
    display: flex;
}
.photo{
    height: 100px;
    width: 100px;
    background-color: red;
}
.cont{
    margin-left: 20px;
}
.cont h4{
    position: absolute;
    right: 10%;
    background-color: greenyellow;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: -24PX;
}
.item a{
    position: absolute;
    right: 10%;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: -20PX;
    font-size: 15px;
    border: none;
}

.item button:hover{
    background-color: deepskyblue;
    color: white;

}
.change{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.change h5{
    font-size: 15px;
    background-color: darkgrey;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}
.change h6{
    font-size: 15px;
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
}
/*.backdesign h4{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.phot{
    height: 100px;
    width: 100px;
    border-radius: 70px;
    background-color: red;
}

.btn{
    display: flex;
    justify-content: space-evenly;
}
.btn a{
    padding: 10px;
    background-color: greenyellow;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.btn a:hover{
    background-color: deepskyblue;
    color: white;
}
.job_container{
    padding: 20px;
    margin-top: 125px;
    width: 60%;
    position: relative;
    margin-left: 100px;
}
.job_container input{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
.job_container textarea{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
}
.contai{
    display: flex;
    justify-content: center;
    width: 80%;
}
.job_container p{
    font-weight: bold;
}
.job_container button{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.job_container button:hover{
    background-color: yellowgreen;
    color: blue;
}
.job_container select{
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    border: 1px solid black;
}
.job_container .type{
    width: 250px;
}
.profile{
    background-color: red;
    padding: 20px;
    position: relative;
    margin: 200px;
    border-radius: 20px;
    color: white;
}
.double{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 15px;
}

.double input{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.double label{
    margin-left: 0px;
    margin-top: 10px;
}
.pagi{
    position: relative;
    margin-left: 600px;
    margin-top: 20px;
}
.btn{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btn .sel{
    position: relative;
    margin-left: 200px;
}
.btn .del{
    position: relative;
}
/*.btn .sel{*/
/*    margin-left: -100px;*/
/*}*/

.btn input{
    margin-left: 50px;
}
.btn button{
    margin-left: 0px;
}
.disgo{
    margin-right: 100px;
}
.links{
    position: relative;
    height: 20px;
    width: 100%;
}

.links a{
    padding: 100px;
    margin-top: 20px;
}
.de{
    color: red;
}

.asses{
    margin: 10px;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.lay{
    width: 300px;
    padding:10px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 10px 4px lightgray;
    transition: transform 0.3s ease; /* Add a transition to make the transformation smooth */
}
.lay:hover {
    transform: scale(1.06); /* Scale up the element when hovered over */
}
.course {
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.course img {
    width: 100%;
    height: 100px;
}

.maintain{
    width: 80%;
}
.listing{
    width: 20%;
    margin: 10px;
    background-color: #bd7206;
    color: white;
}
.glower:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.course{
    box-shadow: 0 0 10px lightgray;
}
.course:hover{
    box-shadow: 0 0 10px rgba(0, 0, 100, 0.5);
}
.right-column {
    top: 20%; /* Fix the div at the top of its containing element */
    z-index: 1; /* Make sure it's above the scrolling content */
}
.left-column {
    top: 20%; /* Fix the div at the top of its containing element */
    z-index: 1; /* Make sure it's above the scrolling content */
}
.heading{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.lll{
    width: 70%;
    display: flex;
    justify-content: center;
}

.ques{
    background-color: lightgray;
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.ans{
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.place {
    position: relative;
    display: inline-block;
}

.ellipsis {
    width: 2px;
    height: 2px;
    text-align: center;
    cursor: pointer;
}

.options {
    display: none;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place:hover .options {
    display: block;
}

.edit,
.delete {
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.edit:hover,
.delete:hover {
    background-color: lightgray;
}
.disabled-link {
    color: #999; /* Change the color to a visually muted color */
    text-decoration: none; /* Remove underline */
    cursor: not-allowed; /* Change cursor to not-allowed */
    pointer-events: none; /* Prevent click events */
}

